html {
    scroll-behavior: smooth !important;
}

.contenedor_video {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ajustado para centrar */
    align-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.video_bienvenida {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.contenedor_datos_bienvenida {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    opacity: 0;
    grid-gap: 25px 0px;
}

.contenedor_video:hover .contenedor_datos_bienvenida {
    opacity: 1; /* Muestra la imagen al pasar el cursor */
}

.contenedor_datos_bienvenida:hover {
    background-color: #00000090; /* Fondo oscuro al pasar el cursor */
}

.logo_imagen {
    width: 25%;
    object-fit: cover;
}

.texto_video_bienvenida{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.contenedor_logo_imagen{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    color: #303030 !important;
}

.card-title{
    color: #303030 !important;
}

.card-text{
    color: #303030 !important;
}

.rounded-circle{
    border: 1px #027BC6 solid !important;
}

.ai-arrow-right{
    color: #027BC6 !important;
}

.text-warning {
    color: #027BC6 !important;
}

.bg-primary{
    background-color: #027BC6 !important;
}

.card-hover-primary:hover{
    background-color: #027BC6 !important;
}

.card-hover-primary:hover .ai-arrow-right{
    color: #ffffff !important;
}

.card-hover-primary:hover .rounded-circle{
    border: 1px #ffffff solid !important;
}

.card-hover-primary:hover .card-text{
    color: #ffffff !important;
}

.card-hover-primary:hover .card-title{
    color: #ffffff !important;
}

.card-hover-primary:hover .text-warning{
    color: #ffffff !important;
}

.active{
    color: #027BC6 !important;
}

.dropdown-item{
    color: #303030 !important;
}

.dropdown-item:hover{
    color: #027BC6 !important;
}

.btn-warning{
    background-color: #1595e6 !important;
    color: #ffffff !important;
    border: 2px #ffffff solid !important;
    transition: 0.25s;
}

.btn-warning:active{
    transform: scale(0.9);
}

.dropdown-toggle:hover{
    color: #027BC6 !important;
}

.dropdown-toggle:active{
    color: #027BC6 !important;
}

.dropdown-toggle:focus{
    color: #027BC6 !important;
}

.dropdown-toggle:active{
    color: #027BC6 !important;
}

.imagen_logo_ancla{
    height: 50px !important;
}

.input_1_contacto{
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.input_1_contacto:focus{
    outline: 3px solid #303030;
}

.input_2_contacto:focus{
    outline: 3px solid #303030;
}

.input_2_contacto{
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    width: calc(50% - 12.5px);
    height: auto;
}

.input_3_contacto{
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    width: 100%;
    height: 150px;
    resize: none;
}

.input_3_contacto:focus{
    outline: 3px solid #303030;
}

.input_4_contacto{
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: auto;
    height: auto;
    transition: 0.25s;
    cursor: pointer;
}

.input_4_contacto:active{
    transform: scale(0.9);
}

.contenedor_inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-gap: 25px 25px;
}

.col_contacto{
    width: auto !important;
}

.label_formulario_1{
    color: #ffffff;
    width: 100%;
    text-align: start;
    font-weight: 600;
}

.label_formulario_2{
    color: #ffffff;
    width: calc(50% - 12.5px);
    text-align: start;
    font-weight: 600;
    background-color: #303030;
}

.enlace_contacto_col{
    color: #303030 !important;
    transition: 0.25s;
    cursor: pointer;
}

.enlace_contacto_col:hover{
    color: #027BC6 !important;
}

.formulario_imagen{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.imagen_formulario_contacto{
    object-fit: cover;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.enlace_general{
    color: #ffffff;
    text-decoration: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0%;
    padding: 0%;
}

.enlace_general:link{
    color: #ffffff;
    text-decoration: none !important;
}

.enlace_general:visited{
    color: #ffffff;
    text-decoration: none !important;
}

.ajuste_col_footer{
    width: auto !important;
}

.contenedor_opciones_col_footer{
    width: auto !important;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px 25px;
}

.imagen_superpuesta_logo{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
}

.imgen_superpuesta_articulo{
    height: 60%;
}

.contenedor_super_puesto_articulo{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.navbar .nav-item:hover > .nav-link:not(.disabled), .navbar .nav-item .nav-link.show:not(.disabled) {
    color: #027BC6 !important;
}
.navbar .dropdown:hover > .nav-link {
    color: #027BC6 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #027BC6 !important;
}

@media screen and (min-width: 0px) and (max-width: 800px){
    .input_2_contacto{
        width: calc(100% - 0px);
    }

    .col_contacto{
        width: 100% !important;
    }

    .contenedor_opciones_col_footer{
        grid-gap: 25px 25px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px){
    .col_contacto{
        width: 100% !important;
    }

    .ajuste_contenedor_footer_logo{
        width: 100% !important;
    }

    .contenedor_opciones_col_footer{
        grid-gap: 25px 25px;
    }
}